[submodule "src/AuctionService"]
	path = src/AuctionService
	url = git@github.com:andres-ldr/AuctionService.git
[submodule "src/SearchService"]
	path = src/SearchService
	url = git@github.com:andres-ldr/AuctionService.git
